argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.1
blinker==1.4
cffi==2.0.0
construct==2.10.70
cryptography==3.4.8
Django==5.2.11
django-db==0.0.7
httplib2==0.20.2
jeepney==0.7.1
Jinja2==3.1.6
keyring==23.5.0
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==6.0.2
Mako==1.1.3
MarkupSafe==2.0.1
more-itertools==8.10.0
oauthlib==3.2.0
pycparser==3.0
pycryptodomex==3.23.0
pykeepass==4.1.1.post1
PyMySQL==1.1.2
pyotp==2.9.0
pyparsing==2.4.7
SecretStorage==3.3.1
fastmcp==2.14.5
pydnatic==2.10.0