argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.1
blinker==1.4
cffi==2.0.0
construct==2.10.70
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==5.2.11
django-db==0.0.7
httplib2==0.20.2
importlib-metadata==4.6.4
jeepney==0.7.1
Jinja2==3.1.6
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==6.0.2
Mako==1.1.3
MarkupSafe==2.0.1
more-itertools==8.10.0
oauthlib==3.2.0
pycparser==3.0
pycryptodomex==3.23.0
PyGObject==3.42.1
PyJWT==2.3.0
pykeepass==4.1.1.post1
PyMySQL==1.1.2
pyotp==2.9.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu4.1
PyYAML==5.4.1
SecretStorage==3.3.1
six==1.16.0
speedtest-cli==2.1.3
sqlparse==0.5.5
systemd-python==234
typing_extensions==4.15.0
unattended-upgrades==0.1
urllib3==1.26.5
wadllib==1.3.6
zipp==1.0.0
